<mat-grid-list cols="2" rowHeight="50px">
    <mat-grid-tile>
        <button mat-stroked-button class="primary">My Games</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-stroked-button class="primary">My Teams</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-stroked-button class="primary">My Leagues</button>
    </mat-grid-tile>
    <mat-grid-tile>
        <button mat-stroked-button class="primary">My Players</button>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <button mat-stroked-button class="primary">Settings</button>
    </mat-grid-tile>
</mat-grid-list>